<app-header></app-header>
<div class="main-container">
<div class="content-container">
    <div class="content-area">
            <div class="content-area">
                    <div id="portada">
                      <div class="content-txt">
                        <h3>Proyecto Storm</h3>
                        <p>Organizador de torneos, con un esquema clasico.
                            <br>
                              Deseas obetner ganancias con tu forma de jugar, 
                              <br>
                              pues aca te damos oportunidades para eso.
                              <br>
                        </p>
                      </div>
  
                                <div class="portada-2"></div>
                                <div class="portada-4"></div>
                          </div>
              <br>
              <h5>Categorias:</h5>
              <div class="clr-row" id="lineaCategorias">
                                  <div class="clr-col-lg-2 clr-col-12" id="card-catergorias">
                                            <a href="/versus" class="card clickable" id="subcard-categorias">
                                                <div class="card-img">
                                                    <img src="../../../assets//vs (1).jpg" alt="..." />
                                                </div>
                                                <div class="card-block">
                                                    <p class="card-text">
                                                        Versus
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="clr-col-lg-2 clr-col-12" id="card-catergorias">
                                              <a href="/torneos" class="card clickable" id="subcard-categorias">
                                                  <div class="card-img">
                                                      <img src="../../../assets/vs (1).jpg" alt="..." />
                                                  </div>
                                                  <div class="card-block">
                                                      <p class="card-text">
                                                          Torneos
                                                      </p>
                                                  </div>
                                              </a>
                                          </div>
                                          <div class="clr-col-lg-2 clr-col-12" id="card-catergorias">
                                                  <a href="/foro" class="card clickable" id="subcard-categorias">
                                                      <div class="card-img">
                                                          <img src="../../../assets/vs (1).jpg" alt="..." />
                                                      </div>
                                                      <div class="card-block">
                                                          <p class="card-text">
                                                              Foro
                                                              <br>
                                                          </p>
                                                      </div>
                                                  </a>
                                              </div>
              </div> 
              <h5>Juegos Actuales:</h5>
              <div class="clr-row" id="lineaCategorias">
                    <div class="clr-col-lg-2 clr-col-12" id="card-catergorias">
                    <div class="card" id="subcard-categorias">
                            <div class="card-img">
                                <img src="./../../../assets/forntine200.jpg">
                            </div>
                            <div class="card-block">
                                <p class="card-text">
                                    Fornite
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="clr-col-lg-2 clr-col-12" id="card-catergorias">
                        <div class="card" id="subcard-categorias">
                                <div class="card-img">
                                    <img src="./../../../assets/minecraft200.jpg">
                                </div>
                                <div class="card-block">
                                    <p class="card-text">
                                        Minecraft
                                    </p>
                                </div>
                            </div>
              </div>
              <div class="clr-col-lg-2 clr-col-12" id="card-catergorias">
                            <div class="card" id="subcard-categorias">
                                    <div class="card-img">
                                        <img src="./../../../assets/mortal200.webp">
                                    </div>
                                    <div class="card-block">
                                        <p class="card-text">
                                            Mortal Combat   
                                        </p>
                                    </div>
                                </div>

              </div>
              <div class="clr-col-lg-2 clr-col-12" id="card-catergorias">
                                <div class="card" id="subcard-categorias">
                                        <div class="card-img">
                                            <img src="./../../../assets/smash200.jpg">
                                        </div>
                                        <div class="card-block">
                                            <p class="card-text">
                                                Mario Smash
                                            </p>
                                        </div>
                                    </div>
              </div>
              <div class="clr-col-lg-2 clr-col-12" id="card-catergorias">
                                    <div class="card" id="subcard-categorias">
                                            <div class="card-img">
                                                <img src="./../../../assets/lol200.jpg">
                                            </div>
                                            <div class="card-block">
                                                <p class="card-text">
                                                    League Of Legends
                                                </p>
                                            </div>
                                        </div>
              </div>
              <div class="clr-col-lg-2 clr-col-12" id="card-catergorias">
                                        <div class="card" id="subcard-categorias">
                                                <div class="card-img">
                                                    <img src="./../../../assets/dota200.png">
                                                </div>
                                                <div class="card-block">
                                                    <p class="card-text">
                                                        Dota 2
                                                    </p>
                                                </div>
                                            </div>
              </div>
              <div class="clr-col-lg-2 clr-col-12" id="card-catergorias">
                                            <div class="card" id="subcard-categorias">
                                                    <div class="card-img">
                                                        <img src="./../../../assets/counter200.jpg">
                                                    </div>
                                                    <div class="card-block">
                                                        <p class="card-text">
                                                            Counter Striker
                                                        </p>
                                                    </div>
                                                </div>
              </div>
              <div class="clr-col-lg-2 clr-col-12" id="card-catergorias">
                                                <div class="card" id="subcard-categorias">
                                                        <div class="card-img">
                                                            <img src="./../../../assets/fifa200.webp">
                                                        </div>
                                                        <div class="card-block">
                                                            <p class="card-text">
                                                                Fifa
                                                            </p>
                                                        </div>
                                                    </div>
              </div>
              </div>
        </div>
    </div>
</div>
</div>
<footer>
<h6>@Proyecto Final 2019</h6>
<br>
</footer>