<div class="login-wrapper">

    <form class="login" #loginForm="ngForm" (ngSubmit)="login()">
        <section class="title">
            <h3 class="welcome">Bienvenido</h3>
            <h1>TournamentStorm  </h1>             
            <h5 class="hint">¡Reune, crea y juega!</h5>
        </section>
        <div class="login-group">

            <clr-input-container>
                <input type="email" name="email" #email="ngModel" [(ngModel)]="userModel.email" id="email" clrInput placeholder="Email" />
            </clr-input-container>

            <clr-password-container>
                <input type="password" name="password" #password="ngModel" [(ngModel)]="userModel.password" id="password" clrPassword placeholder="Contraseña" />
            </clr-password-container>
            <br>
            <br>
            <a href=""  title="Gráficas y visitas"><img src="https://www.cerotec.net/contador.php?t=5&s=3&i=128240" alt="www.Farebase.com/39576$%24/php/%Alejandro%Contador"></a> <br><a href='http://www.portal-salud.es/' style='font-size:12px;' >Personas que han visitado ProStorm</a>

            <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
            <a [routerLink]="['/registro']" class="signup">¿No tienes cuenta?. Registrate</a>
        </div>
    </form>

</div>